@{
    Layout = "_Layout";
    ViewData["Title"] = "Privacy Policy";
}
@model CI_Platform.Entities.ViewModels.PrivacyPolicyViewModel

<div class="container scrollspy-example" @*data-bs-spy="scroll" data-bs-target="#PrivacyPolicyList"*@>
    <h2 class="my-5">Privacy and Cookies Policy</h2>
    <div class="row gap-4 d-flex">
        <div class="col-sm-3">
            <div id="PrivacyPolicyList" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
                @foreach(var cms in Model.GetCmsPages)
                {
                    <a class="p-1 rounded" href="#@cms.Title"><span>@cms.Title</span><img class="m-2" src="~/images/right-arrow1.png"></a>
                    <hr />
                }
             
            </div>
        </div>
        <div class="col-sm-8 ">
            <div data-bs-spy="scroll" data-bs-target="#PrivacyPolicyList" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                @foreach(var cms in Model.GetCmsPages)
                {
                    <h4 id="@cms.Title">@cms.Slug</h4>
                    <p>@Html.Raw(cms.Description)</p>
                 
                }
               
            </div>
        </div>
    </div>

</div>
