@model CI_Platform.Entities.ViewModels.MissionDetailViewModel


@*<h5>Recent Volunteers</h5>*@

@if (Model.RecentVolunteers.Any())
{
    <div class="volunteerd-images">
        @foreach (var recent in Model.RecentVolunteers)
        {
            <div class="volunteerd-img">
                <img src="~/images/@recent.User.Avtar" />
                <figcaption>@recent.User.FirstName  @recent.User.LastName </figcaption>
            </div>
        }
    </div>
}
else
{
    <div> No Recent Volunteers in this mission </div>
}

