@using System.Linq;
@{
    Layout = "_Layout";
    ViewData["Title"] = "Homepage";
    //var MissionList = ViewBag.MissionList;
    //DateTime StartDate = MissionList.StartDate.GetDate();
    //var Stars = .MissionList.MissionRatings.Rating.ToInt32();
}
@model CI_Platform.Entities.ViewModels.MissionListModel



<!-- Main content starts from here -->
<!-- selected filters div -->
<partial name="_SearchNav"></partial>

<!-- selected filters div ends here -->
<!-- Heading of page -->
<div class="container justify-content-between d-flex mt-4">
    <h2>Explore @Model.MissionList.Count Missions</h2>
    <div class="d-none d-md-flex justify-content-start">
        <div class="dropdown mx-4 " >
            <div class="dropdown-toggle h-auto mt-3" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false" style="border:1px solid black">
                Sort BY
                <img class="ps-5 pe-2" src="~/images/drop-down.png">
            </div>
            <ul class="dropdown-menu" id="sortByDropdown">
                <li><a class="dropdown-item" >Newest</a></li>
                <li><a class="dropdown-item" >Oldest</a></li>
                <li><a class="dropdown-item">Lowest available seats</a></li>
                <li><a class="dropdown-item">Highest Available seats</a></li>
                <li><a class="dropdown-item">My favourites</a></li>
                <li><a class="dropdown-item">Registration deadline</a></li>
            </ul>
        </div>
        <button class="btn grid" type="submit" id="grid-btn" onclick="show_grid()">
            <img src="~/images/grid.png" alt="">
        </button>
        <button class="btn list ms-2" type="submit" id="list-btn" onclick="show_list()">
            <img src="~/images/list.png" alt="">
        </button>
       
    </div>
</div>
<!-- Heading of page -->
<!-- Card start for GridView -->
<div class="container my-5" id="grid-view">
   <partial name="_GridView" ></partial>
</div>
<!-- Card end for GridView -->
<!-- Card start for ListView -->
<div class="container " id="list-view">
    <partial name="_ListView"></partial>
</div>
<!-- Card ends for ListView -->
<!-- Pagination starts here -->
<nav>
    <ul class="pagination  d-flex justify-content-center flex-wrap pagination-flat pagination-success">
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/previous.png" /></a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/left.png" /></a></li>
        <li class="page-item me-2 active"><a class="page-link" href="#" data-abc="true">1</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">2</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">3</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">4</a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/right-arrow1.png" /> </a></li>
        <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/next.png" /></a></li>

    </ul>
</nav>

<!-- Pagination ends here -->
<!-- Main content ends here -->
