
@{
    Layout = "_Layout";
    ViewData["Title"] = "Homepage";
}
        <link rel="stylesheet" href="~/css/AuthStyle.css" asp-append-version="true" />
        <!-- search Nav bar starts here -->
        <div class="border-navbar"></div>
        <div class="container justify-content-between d-flex">
            <div class="d-flex  col-auto">
                <form class="d-flex search-form " role="search">
                    <button type="submit">
                        <img class="icon" src="~/images/search.png"/>
                     </button>
                    <input type="search" placeholder="Search mission... " aria-label="Search">
                </form>
            </div>
            <div class=" flex-row d-none d-lg-flex">
                <ul class="navbar-nav filter-list-view d-flex flex-row pe-3 p-2">
                    <li class="nav-item  dropdown">
                        <a class="nav-link ms-3  dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Country
                            &nbsp; &nbsp; <img class="ps-5 pe-2" src="~/images/drop-down.png">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>


                    <li class="nav-item  dropdown">
                        <a class="nav-link ms-3  dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            City
                            &nbsp; &nbsp; <img class="ps-5 pe-2" src="~/images/drop-down.png">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>


                    <li class="nav-item  dropdown">
                        <a class="nav-link ms-3 dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Theme
                            &nbsp; &nbsp; <img class="ps-5 pe-2" src="~/images/drop-down.png">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>


                    <li class="nav-item  dropdown">
                        <a class="nav-link ms-3  dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Skill
                            &nbsp; &nbsp; <img class="ps-5 pe-2" src="~/images/drop-down.png">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="btn d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                    aria-controls="offcanvasScrolling">
                <img src="~/images/filter.png">
            </button>
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                 id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="  d-flex ">
                        <ul class="navbar-nav flex-column align-items-center  d-flex">
                            <li class="nav-item  dropdown">
                                <a class="nav-link ms-3  dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Country
                                    &nbsp; &nbsp; <img class=" pe-2" src="~/images/drop-down.png">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>


                            <li class="nav-item  dropdown">
                                <a class="nav-link ms-3  dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    City
                                    &nbsp; &nbsp; <img class=" pe-2" src="~/images/drop-down.png">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>


                            <li class="nav-item  dropdown">
                                <a class="nav-link ms-3 dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Theme
                                    &nbsp; &nbsp; <img class="pe-2" src="~/images/drop-down.png">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>


                            <li class="nav-item  dropdown">
                                <a class="nav-link ms-3  dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Skill
                                    &nbsp; &nbsp; <img class=" pe-2" src="~/images/drop-down.png">
                                </a>
                                <ul class="dropdown-menu dropdown-menu-light"
                                    aria-labelledby="navbarDarkDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="border-navbar"></div>
        <!-- search Nav bar ends here -->
        <!-- Main content starts from here -->
        <!-- selected filters div -->
        <div class="container p-4 d-flex flex-row">
            <div class="">
                <div class=" mx-2 badge rounded-pill-filter rounded-pill bg-light text-dark">
                    Tree Plantation
                    &nbsp;&nbsp; <img src="~/images/cancel1.png">
                </div>
                <div class="badge mx-2 rounded-pill-filter rounded-pill bg-light text-dark">
                    Canada
                    &nbsp;&nbsp; <img src="~/images/cancel1.png">
                </div>
                <div class="badge mx-2 rounded-pill-filter rounded-pill bg-light text-dark">
                    Montreal
                    &nbsp;&nbsp; <img src="~/images/cancel1.png">
                </div>
                <div class="badge  mx-2 rounded-pill-filter rounded-pill bg-light text-dark">
                    Environment
                    &nbsp;&nbsp; <img src="~/images/cancel1.png">
                </div>
                <div class="badge  mx-2 rounded-pill-filter rounded-pill bg-light text-dark">
                    Environmental Science
                    &nbsp;&nbsp; <img src="~/images/cancel1.png">
                </div>
                <div class="badge  mx-2 rounded-pill-filter rounded-pill bg-light text-dark">
                    Anthorpology
                    &nbsp;&nbsp; <img src="~/images/cancel1.png">
                </div>
            </div>
            <a class="p-2 fw-bold  text-decoration-none text-dark">Clear All </a>
        </div>
        <!-- selected filters div ends here -->
        <!-- Heading of page -->
        <div class="container justify-content-between d-flex mt-4">
            <h2>Explore 72 Missions</h2>
            <div class="d-none d-lg-flex justify-content-start">
                <div class="dropdown mx-4 ">
                    <div class="dropdown-toggle h-auto" href="#" role="button" data-bs-toggle="dropdown"
                         aria-expanded="false" style="border:1px solid black">
                        Sort BY
                        <img class="ps-5 pe-2" src="~/images/drop-down.png">
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Newest</a></li>
                        <li><a class="dropdown-item" href="#">Oldest</a></li>
                        <li><a class="dropdown-item" href="#">Lower Available seats</a></li>
                    </ul>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" onclick="toggleVisibility('GridView')">
                            <img class="icon" src="~/images/grid.png">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" onclick="toggleVisibility('ListView')">
                            <img class="icon" src="~/images/list.png">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Heading of page -->
        <!-- Card start for GridView -->
        <div class="container">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <div class="pill-on-img">
                            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-1.png"
                                 class="card-img-top" alt="...">
                            <div class="applied-pill">
                                APPLIED
                            </div>
                            <div class="location">
                                <img src="~/images/pin1.png">
                                Toronto
                            </div>
                            <div class="like-on-img">
                                <img style="opacity: 1;" src="~/images/heart.png">
                            </div>
                            <div class="add-on-img">
                                <img style="opacity: 1;" src="~/images/add1.png">
                            </div>
                            <div class="theme-pill rounded-pill"> Environment </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                            <div class="card-text d-flex justify-content-between">
                                <div>
                                    <img class="p-2" src="~/images/pin1.png" />
                                    <span class="pe-2">Atlanta</span>
                                    <img class="p-2" src="~/images/web.png" />
                                    <span class="pe-2">Environment</span>
                                    <img class="p-2" src="~/images/organization.png" />
                                    <span class="pe-2">Smith International Caring Foundation</span>
                                </div>
                                <div>
                                    <img class="py-1" src="~/images/selected-star.png" />
                                    <img class="py-1" src="~/images/selected-star.png" />
                                    <img class="py-1" src="~/images/selected-star.png" />
                                    <img class="py-1" src="~/images/selected-star.png" />
                                    <img class="py-1" src="~/images/selected-star.png" />
                                </div>
                            </div>
                        <h3 class="card-title">Grow Trees On the path to environment sustainability</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore...</p>
                        <div class="card-text d-flex justify-content-between pt-5">
                                <div>
                                      <div class="row gutter justify-content-around">
                                        <div class="col card-detail-listview">
                                            <img class="icon-detail icon" src="~/images/Seats-left.png" alt="seats left">
                                            <div class="card-detail-text">
                                                <p>297</p>
                                                <p>Seats left</p>
                                            </div>
                                        </div>
                                        <div class="col card-detail-listview">
                                            <img class="icon-detail icon" src="~/images/achieved.png" alt="deadline">
                                                <div class="card-detail-text">
                                                <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                                    <div class="progress-bar" style=" background-color: #F88634;"></div>
                                                </div>
                                                 <p></p>
                                                <p>achieved</p>   
                                            </div>
                                        </div>
                                        <div class="col card-detail-listview">
                                            <img class="icon-detail icon" src="~/images/calender.png" alt="seats left">
                                            <div class="card-detail-text">
                                                <p>From 09/10/2019</p>
                                                <p>Until 10/11/2019</p>
                                            </div>
                                        </div>
                                        <div class="col card-detail-listview">
                                           <i class="bi bi-tools icon-detail icon text-secondary tools-icon"></i>
                                            <div class="card-detail-text">
                                                <p>Skills</p>
                                                <p>Botany</p>
                                            </div>
                                        </div>
                            </div>
                                </div>
                                <div>
                                   <button type="submit" class="btn card-btn">
                                        View Details
                                        <img src="~/images/right-arrow.png">
                                        <img src="~/images/right-arrow2.png" />
                                    </button>
                                </div>
                            </div>
                      </>
                    </div>
                  </div>
                </div>
        </div>
        </div>
         <!-- Card ends for ListView -->
        <!-- Pagination starts here -->
        <nav>
            <ul class="pagination  d-flex justify-content-center flex-wrap pagination-flat pagination-success">
                 <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/previous.png" /></a></li>
                <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/left.png" /></a></li>
                <li class="page-item me-2 active"><a class="page-link" href="#" data-abc="true">1</a></li>
                <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">2</a></li>
                <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">3</a></li>
                <li class="page-item me-2"><a class="page-link" href="#" data-abc="true">4</a></li>
                <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/right-arrow1.png" /> </a></li>
                 <li class="page-item me-2"><a class="page-link" href="#" data-abc="true"><img src="~/images/next.png" /></a></li>
               
            </ul>
        </nav>

        <!-- Pagination ends here -->
        <!-- Main content ends here -->

   
