<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CI_Platform_web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="~/css/AuthStyle.css" asp-append-version="true" />
@*    <link rel="stylesheet" href="~/CI_Platform_web.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

</head>
<body>
            <div class="container-fluid d-flex">
        <!-- <div class="row"> -->
            <div class="col-lg-8 ">
            @await Component.InvokeAsync("Banner", "_BannerSection")
            </div>

            <div class="col-lg-4 ">
                
                        <main role="main" >
                            <partial name="_Notification" />
                            @RenderBody()
                        </main>
            </div>
         </div>
    

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
