
<script src="https://cdn.jsdelivr.net/npm/tinymce@5/tinymce.min.js"></script>
<script src="~/js/text-editor.js" asp-append-version="true"></script>
@model CI_Platform.Entities.ViewModels.AdminCmsViewModel
<div>
    <form method="post" class="validateForm">

        @* <input asp-for="UserId" id="UserId" type="hidden" />*@
        <div class="border">
            <div class="FormBox"><h4 class="FormHeading"><span>Add</span></h4></div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Enter Title" aria-label="Last name">
                <span asp-validation-for="Title" class="validate-text text-danger"></span>
            </div>

            <label for="Description" class="form-label ">Description</label>
            <textarea id="CmsDescriptionEditor" asp-for="CmsDescription" name="Description"></textarea>
            <script>

                tinymce.init({
                    selector: 'textarea',
                    height: 250,
                    plugins: 'lists code emoticons',
                    toolbar: ' bold italic strikethrough| ' +
                        'subscript superscript underline| ',
                    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
                });
            </script>


            <div class="mb-3 ">
                <label asp-for="Slug" class="form-label">Employee Id</label>
                <input asp-for="Slug" type="text" class="form-control" placeholder="Employee Id">
                <span asp-validation-for="Slug" class="validate-text text-danger"></span>

            </div>
            <div class="mb-3">
                <label asp-for="Status" class="form-label">Department</label>

                <select asp-for="Status" class="form-select" aria-label="Select your Avaliability">
                    <option value="Active">Active</option>
                    <option value="In-Active">In - Active</option>
                </select>
                <span asp-validation-for="Status" class="validate-text text-danger"></span>

            </div>


            <div class="d-flex flex-wrap justify-content-between m-3">
                <a class="btn btn-outline-secondary rounded-pill" href="@Url.Action("User", "Admin")">Cancel</a>
                <button type="submit" class="btn btn-outline-success  rounded-pill addBtn" asp-controller="Admin" asp-action="AddOrUpdateUser">Add</button>
            </div>
        </div>
    </form>

</div>