<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
     <link rel="stylesheet" href="~/css/HomePage.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!-- Top Nav bar starts here -->
        <nav class="navbar navbar-expand-lg navbar-dark   main-navigation" id="navbar">
            <div class="container">
                <button class="navbar-toggler top-nav-toggle" type="button">
                    <img src="~/images/list.png">
                </button>
                <a class="navbar-brand " asp-controller="Home" asp-action="homepage">
                    <img src="~/images/logo.png">
                </a>
                <div class=" d-lg-flex flex-lg-row-reverse">
                    <div class="overlay d-flex d-lg-none"></div>
                    <div class="order-lg-2 d-lg-flex flex-row d-lg-flex w-100 sidebar pb-3 pb-lg-0">
                        <ul class="navbar-nav  mb-2 mb-lg-0 p-lg-2">
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark px-3 px-lg-2 dropdown-toggle" href="#" id="dropdown"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    &nbsp;Explore
                                    <img src="~/images/drop-down.png ">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark px-3 px-lg-2 active" aria-current="page" href="#">

                                    &nbsp;Stories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark px-3 px-lg-2" href="#">

                                 
                                    &nbsp;News
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark px-3 px-lg-2 dropdown-toggle" href="#" id="dropdown"
                                   role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    &nbsp;Policy
                                    <img src="~/images/drop-down.png ">
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class=" d-flex flex-row mb-2 mb-lg-0">
                        <a class="nav-link text-dark px-3 px-lg-2 dropdown-toggle" href="#" id="dropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/bell.png" alt="user-img" class=" rounded-circle p-2" />
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Notifications</a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                        <a class="nav-link text-dark px-3 px-lg-2 dropdown-toggle" href="#" id="dropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/user-img.png" alt="user-img" class=" rounded-circle user-image" />
                            &nbsp; Evan Donohue
                            <img src="~/images/drop-down.png ">
                        </a>
                        <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                            <li><a class="dropdown-item" href="#">Volunteering Timesheet</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
           
        </nav>
        <!-- Top Nav bar ends here -->
    </header>

    <main role="main" >
        @RenderBody()
    </main>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>
    <script src="~/js/HomePage.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
            integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
            crossorigin="anonymous"></script>
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>

