@{
    Layout = "_Layout";
    ViewData["Title"] = "ShareStory";
    long user_id = Convert.ToInt64(ViewBag.UserId);
}

<script src="https://cdn.jsdelivr.net/npm/tinymce@5/tinymce.min.js"></script>
@model CI_Platform.Entities.ViewModels.ShareStoryViewModel
<!-- main container -->
<div class="container">
    <h2 class="ms-4 mt-3">Share your Story</h2>
    <div id="error-message " class="text-warning"></div>
    
    <div class="ms-4 mt-5 text-secondary">
        <!-- first row -->
        
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1">
            <div class="col-md-4 col-sm-12">
                <label for="" class="form-label ms-1">Select Mission</label>
                <select required class="form-select" id="missionTitle" aria-label="Default select example">
                    <option asp-for="MissionTitle" disabled  selected>Select your mission</option>
                    @if (Model.GetMissionListofUser is not null)
                    {

                        @foreach (var mission_list in Model.GetMissionListofUser)
                        {
                            <option value="@mission_list.Mission.MissionId">@mission_list.Mission.Title</option>
                             
                        }
                    }
                </select>
                <div><small class="text-danger validate-text" id="HelpBlock-missionTitle"></small></div>
            </div>
            <div class="col-md-4 col-sm-12">
                <label asp-for="StoryTitle" class="form-label ms-1">My Story Title</label>
                <input asp-for="StoryTitle" type="text" id="StoryTitle" class="form-control" required placeholder="Enter story title">
                <div><small class="text-danger validate-text" id="HelpBlock-storyTitle"></small></div>
            </div>
        
            <div class="col-md-4 col-sm-12">
                <label asp-for="Date" class="form-label ms-1">Date</label>
                
                <input asp-for="Date" type="date" id="date" required class="form-control" >
                <div><small class="text-danger validate-text" id="HelpBlock-date"></small></div>
            </div>
        </div>
        <!-- end of first row -->
        <!-- ckeditor -->
        <label for="" class="form-label ms-1 mt-3">My Story</label>
        <textarea id="storyEditor" asp-for="StoryDescription" name="Description"></textarea>
        <script>
            tinymce.init({
                selector: '#storyEditor',
                height: 250,
                plugins: 'lists code emoticons',
                toolbar: ' bold italic strikethrough| ' +
                    'subscript superscript underline| ',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
            });
        </script>
        
        <div><small class="text-danger validate-text" id="HelpBlock-storyDes"></small></div>
        <!-- end of ckeditor -->
        <!-- video link -->
        <div class="mt-3">
            <label for="" class="form-label ms-1">Enter Video URL</label>
            <textarea name="YoutubeUrls" class="form-control videoUrls" id="videoUrls" rows="3" placeholder="Enter your url (Only Youtube URLs are allowed)"></textarea>
            <div><small class="text-danger validate-text" id="HelpBlock-urls"></small></div>
        </div>
        <!-- video link ends -->
        <!-- darg and drop -->
        <label for="" class="form-label mt-3 ms-1 mb-0">Upload your Photos</label>
        <div><small>(Only <strong> jpg, png, jpeg</strong>  file formats are allowed)</small></div>
        <div class="card drag-card" style="border: none;">
            <div class="drag-area" id="drop-area">
                <span class="visible">
                    <span class="select" role="button"><img src="~/images/drag-and-drop.png"></span>
                </span>
                <span class="on-drop">Drop images here</span>
            </div>
            <input name="file" type="file" accept=".png, .jpg, .jpeg" class="file" multiple id="img-input" hidden/>
            <!-- IMAGE PREVIEW CONTAINER -->
            <div class="container-img mt-3" id="img-output"> </div>
        </div>
        <!--  -->
        <!-- submit buttons -->
        <div class="row flex-wrap my-3">
            <div class="col-md-6 d-flex flex-wrap">
                <div class="">
                    <a class="btn btn-outline-secondary rounded-pill m-2 px-5 py-2" href="@Url.Action("StoryListing", "Story")">Cancel</a>
                </div>
                <div class="">
                    <button class="btn story-btns rounded-pill disabled  m-2 px-5 py-2" id="previewButton" type="submit" data-user-id="@user_id">Preview</button>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-lg-end  flex-wrap">
                <div class="">
                    <button class="btn story-btns rounded-pill  m-2  px-5  py-2" id="saveStory" type="submit">Save as Draft</button>
                </div>
                <div class="">
                    <button class="btn story-btns rounded-pill disabled   m-2 px-5 py-2" id="submitButton">Submit</button>
                </div>
            </div>
        </div>
        <!-- end of button -->
    </div>
</div>
