@{
    Layout = "_Layout";
    ViewData["Title"] = "Story";
    var Id = Convert.ToInt64(ViewBag.UserId);
}
@model CI_Platform.Entities.ViewModels.StoryListingViewModel
<partial name="_SearchNav"></partial>
<div container-fluid>
    <div class="story-bg-img position-relative">
        <!-- BG IMAGE -->
        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="">
        <div class="story-bg-img-text">
            <!-- TEXT -->
            <div class="text text-white mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cupiditate excepturi non
                tempora odio. Earum at nulla quibusdam qui sequi. Lorem ipsum dolor sit amet consectetur.
            </div>
            <!-- BUTTON -->
            <div>
                <a class="btn-share-story btn rounded-pill px-4 py-2" href="@Url.Action("ShareStory", "Story" , new { UserId = @Id })">
                    Share your story &nbsp;
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="StorypartialViews"></div>

    <center>

        <div class="container">
            <nav aria-label="Page navigation example" class="pagination justify-content-center">
                <ul class="pagination" id="pagination-container">
                </ul>
            </nav>
        </div>
    </center>
</div>
