@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;500;700;900&display=swap');

* {
    font-family: 'NotoSans';
}

h2, small, p, a, button, small, form {
    font-family: 'NotoSans';
}
.carousel-caption p
{
    font-size:x-large;
    text-align:left
}

.carousel-caption h1 {

    text-align: left
}


.carousel-img {
    background-image: url("/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png");
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.register-right {
    margin-top: 1rem;
}

.reset-right, .index-right {
    margin-top: 12rem;
}

.forget-right {
    margin: 8rem 3rem;
}


form h2 {
    text-align: center;
}

#HelpBlock {
    text-align: center;
    display: block;
}

form label {
    color: #414141;
    font-family: 'NotoSans-Light';
    font-size: 20px;
}

form input {
    box-shadow: 0px 0px 10px #2B64B11F;
}

form button {
    border: 2px solid #F88634;
    border-radius: 24px;
    background-color: #F8863400;
    opacity: 1;
    color: #F88634;
    font-family: 'Noto Sans';
    height: auto;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    display: inline-block;
    font-weight: 400;
    padding: .375rem .75rem;
}

button:hover {
    background-color: #F88634;
    color: white;
    transition: 0.7s;
}

form .password-lost, .login {
    text-align: center !important;
    text-decoration: none;
    color: #414141;
    opacity: 1;
    vertical-align: middle;
    font-family: 'NotoSans-Light';
}

form a {
    text-decoration: none;
}

.privacy {
    color: #414141;
    opacity: 1;
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .container-fluid {
        flex-direction: column;
    }

    .carousel-img {
        height: 70vh;
    }

    .forget-right {
        margin: 0rem;
    }

    .reset-right, .index-right {
        margin-top: 5rem;
    }
}
